*{
  padding: 0;
  margin: 0;
  border: 0;
  box-sizing: border-box;
  font-family: sans-serif;
}

.clearfix{
  content: "";
  display: table;
  clear: both;
}

/* BAR */

header section{
  background-color: #33475b;
}

.margin-bar{
  width: 85%;
  margin: 0 auto;
}

header section img{
  height: 37px;
}

header ul{
  display: inline-block;
}

header section li{
  display: inline-block;
  color: rgb(255, 255, 255);
  font-weight: lighter;
  font-size: 12px;
  margin-right: 10px;
  opacity: 0.5;
}

.left1{
  float: left;
  width: 5%;
}

.left2{
  float: left;
  width: 50%;
}

.left2 ul{
  margin-top: 9px;
}

#login{
  float: right;
  width: 25%;
  margin-top: 3px;
  text-align: right;
}

#login .fa-search{
  margin-right: 10%;
}

#login .fa-cog{
  padding-right: 10%;
}

#login p{
  display: inline-block;
  font-size: 25px;
}

#login .fa-user{
  padding: 5px;
  margin: 0 10%;
  border-radius: 50%;
  border: solid 1px rgb(0, 0, 0);
}

#login span{
  color: rgb(255, 255, 255);
  font-size: 12px;
}

/* SECOND BAR */

.bg-light-grey{
  background-color: #f5f8fa;
}

header .bg-light-grey .margin{
  padding: 1.5% 0;
}

.margin{
  width: 70%;
  margin: 0 auto;
}

.margin p{
  display: inline-block;
  padding-right: 2%
}

.right{
  float: right;
  width: 50%;
  text-align: right;
}

header .fa-globe-europe{
  padding-right: 2%
}

header .bg-light-grey span{
  font-weight: bold;
  font-size: 20px;
  padding-right: 2%;
}

header .right .fa-search{
  padding-right: 2%;
}

header .right button{
  color: rgb(255, 255, 255);
  background-color: #ff7a59;
  border: 1px solid rgb(0, 0, 0);
  padding: 5px 20px;
}

/* NAVBAR */

nav{
  padding: 1% 0;
}

nav li{
  display: inline-block;
  padding: 2%;
}

nav li a{
  text-decoration: none;
}

/* MAIN */

.hsfree{
  background-image: url("../img/sfondo.png");
  background-size: cover;
  width: 100%;
  height: 35rem;; /* DEBUG */
  color: #33475b;
}

.hsfree h1{
  font-size: 50px;
  padding-top: 20%;
}

.hsfree p{
  line-height: 25px;
  padding: 5% 0;
}

.hsfree button{
  color: rgb(255, 255, 255);
  background-color: #ff7a59;
  padding: 25px 40px;
  font-size: 17px;
  border-radius: 3px;
}

/* SERVICE */

.margini2{
  width: 65%;
  margin: 0 auto;
}

.service #cube{
  margin: 0 auto;;
  display: block;
  max-width: 260px;
  padding: 10% 0 2% 0;
}

.service h2{
  font-size: 30px;
  padding-bottom: 2%;
}

.service p.txt-center{
  font-size: 16.5px;
  padding-bottom: 10%;
}

.txt-center{
  text-align: center;
}

.free{
  background-color: #ffffff;
  width: 100%;
  padding: 5% 0;
}

.free .left1{
  width: 20%;
  margin: 0 10%;
  display: block;
  text-align: center;
}

.free .left1 button{
  color: rgb(255, 255, 255);
  background-color: #ff7a59;
  padding: 12px 30px;
  border-radius: 3px;
  margin-top: 5px;
}

.free img{
  width: 100%;
}

.free .left2 h3{
  font-size: 19px;
}

.free .left2 p{
  padding: 3% 0;
}

.free .left2 h4{
  font-size: 15px;
  padding-bottom: 3%;
}

.free .left2 .fa-check-circle{
  color: #ff7a59;
  padding-right: 1%;
}

.free .left2 span{
  padding-right: 2%;
}

/* COLUMN */

.column{
  margin-top: 3%;
  padding-bottom: 8%;
}

.col-left{
  background-color: #ffffff;
  float: left;
  width: 30%;
  display: block;
  text-align: center;
}

.col-left img{
  height: 150px;
  margin-top: 15%;
}

.col-left h6{
  font-size: 13px;
  padding-top: 2%;
}

.col-left p{
  margin: 5% 10%;
  padding-bottom: 7%;
  text-align: left;
  font-size: 14px;
  border-bottom: 1px #000000 solid;
}

.col-left h5{
  padding-top: 2%;
  font-size: 13px;
  font-weight: bold;
}

.col-left .check{
  display: block;
  text-align: left;
  margin: 10%;
}

.col-left .check .fa-check-circle{
  color: #ff7a59;
}

.col-left .check span{
  margin: 0;
}

.col-left button{
  color: rgb(255, 255, 255);
  background-color: #ff7a59;
  padding: 12px 30px;
  border-radius: 3px;
  margin-bottom: 10%;
}

.bt{
  margin: 0 5%;
}
